<!DOCTYPE html>
<html ng-app="AngularMaterialStartGuide">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">

        <!-- Angular Material CSS now available via Google CDN; version 1.0.0 used here -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

        <title>Hello Angular Material</title>
    </head>

    <body>
        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>

        <!-- Angular Material Javascript now available via Google CDN; version 1.0.0 used here -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

        <!-- AngularJS setting -->
        <script type="text/javascript">
            var APP = angular.module("AngularMaterialStartGuide", ["ngMaterial","ngAnimate"]);

            APP.controller("FormCtrl", [ "$scope", function($scope) {
                $scope.affiliations = ["バックオフィス", "技術部", "営業部"];
            }]);



        </script>
        </script>
        <style type="text/css">
        <!--
            .side-padding16 {padding: 0 16px 0 16px;}
            .err-message {font-size: 12px; color: red}
        -->
        </style>

        <div ng-controller="FormCtrl" layout="row" layout-align="center" style="width:100%">
            <md-card flex="50" class="md-whiteframe-5dp" style="height:95%">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>登録フォーム</h2>
                    </div>
                </md-toolbar>

                <md-content style="height:100%">
	                <form name="registerForm" novalidate>
	                    <md-card-content>
	                        <section>
	                            <md-subheader class="md-primary">会社情報</md-subheader>
	                            <div layout="row" class="side-padding16">
	                                <md-input-container flex="40">
	                                    <label>会社名</label>
	                                    <input ng-model="companyName" name="companyName" required>
	                                    <div class="err-message" ng-if="registerForm.companyName.$error.required && registerForm.companyName.$touched" >会社名を入力してください。</div>
	                                </md-input-container>
	                                <md-input-container flex="20">
	                                    <label>所属</label>
	                                    <md-select ng-model="companyAffiliation" name="companyAffiliation">
	                                        <md-option ng-repeat="affiliation in affiliations" value="{{affiliation}}" >
	                                        {{affiliation}}
	                                        </md-option>
	                                    </md-select>
	                                </md-input-container>
	                            </div>

	                            <div class="side-padding16">
	                                <md-input-container flex="80">
	                                    <label>住所</label>
	                                    <textarea ng-model="companyAddress" name="companyAddress" required></textarea>
	                                    <div class="err-message" ng-if="registerForm.companyAddress.$error.required && registerForm.companyAddress.$touched" >住所を入力してください。</div>
	                                </md-input-container>
	                            </div>
	                            <div class="side-padding16">
	                                <md-input-container flex="40">
	                                    <label>電話番号</label>
	                                    <input ng-model="companyTelNumber" name="companyTelNumber">
	                                </md-input-container>
	                            </div>
	                        </section>

	                        <!-- ユーザ情報の入力パート -->
	                        <section>
	                            <md-subheader class="md-primary">ユーザ情報</md-subheader>
	                            <div class="side-padding16" layout="row">
	                                <md-input-container flex="30">
	                                    <label>氏名</label>
	                                    <input ng-model="userName" name="userName" required>
		                                <span class="err-message" ng-if="registerForm.userName.$error.required && registerForm.userName.$touched">氏名を入力してください</span>
	                                </md-input-container>
	                                <md-input-container flex="35">
	                                    <label>メールアドレス</label>
	                                    <input ng-model="userEmail" name="userEmail" type="email" required>
	                                    <div class="err-message" ng-if="registerForm.userEmail.$error.required && registerForm.userEmail.$touched" >メールアドレスを入力してください。</div>
										<div class="err-message" ng-if="registerForm.userEmail.$error.email && registerForm.userEmail.$touched">メールアドレスの形式が正しくありません。</div>
	                                </md-input-container>
	                            </div>
	                            <div class="side-padding16">
	                                <md-input-container flex="35" layout="row">
	                                    <div style="margin-top: 18px;margin-right: 16px;">性別</div>
	                                    <!-- ラジオボタンは、<md-radio-group>を使います。-->
	                                    <md-radio-group ng-model="userSex">
	                                        <!-- ラジオボタンの選択項目は、<md-radio-button>で指定します。-->
	                                        <md-radio-button value="MALE" class="md-primary">
	                                            男性
	                                        </md-radio-button>
	                                        <md-radio-button value="FEMALE">
	                                            女性
	                                        </md-radio-button>
	                                    </md-radio-group>
	                                </md-input-container>
	                            </div>
	                            <div class="side-padding16" layout="row">
	                                <md-input-container  flex="20">
	                                    <label>生年月日</label>
	                                    <input ng-model="userBirthDay" name="userBirthDay" type="date" required>
	                                    <div ng-if="registerForm.userBirthDay.$error.required && registerForm.userBirthDay.$touched" class="err-message">生年月日を入力して下さい。</div>
	                                    <div ng-if="registerForm.userBirthDay.$error.date && registerForm.userBirthDay.$touched" class="err-message">生年月日の形式が正しくありません。</div>
	                                </md-input-container>
	                                <md-input-container  flex="10">
	                                    <label>年齢</label>
	                                    <input ng-model="userAge" name="userAge" type="number" min="0" required>
	                                    <div ng-if="registerForm.userAge.$error.min && registerForm.userAge.$touched" class="err-message">年齢は0以上を入力して下さい。</div>
	                                    <div ng-if="registerForm.userAge.$error.required && registerForm.userAge.$touched" class="err-message">年齢を数値で入力して下さい。</div>
	                                </md-input-container>
	                            </div>
	                            <div class="side-padding16">
	                                <md-input-container class="md-block" class="side-padding16">
	                                    <label>備考</label>
	                                    <textarea ng-model="note" name="note" md-maxlength="150"></textarea>
                                    	<div ng-if="registerForm.note.$error.md-maxlength && registerForm.note.$touched" class="err-message">備考の入力文字数は150文字までです。</div>
	                                </md-input-container>
	                            </div>
	                        </section>
	                    </md-card-content>
	                    <md-card-actions layout="row" layout-align="center">
	                        <md-button class="md-primary md-raised">登録</md-button>
	                    </md-card-actions>
					</form>
                </md-content>

            </md-card>

        </div>

    </body>
</html>
